@import '../node_modules/easings-css/easings';

@import
  'styles/variables',
  'styles/mixins',
  'styles/base';

// Bootstrap

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_images';
@import '~bootstrap/scss/_utilities';
@import '~bootstrap/scss/bootstrap-grid';

// stylelint-disable-next-line scss/at-import-no-partial-leading-underscore, scss/at-import-partial-extension-blacklist
@import '../Components/**/_style.scss';
@import 'styles/uicons.css';

@import 'styles/print';



/*
// ANCHOR: listProjects
*/

.listProject_item {	
	min-height: 180px;
  display: flex;
  position: relative;
  padding: 30px;

  @media (min-width: 992px) {
    padding: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: -1;
    border-radius: 20px;
    background-color: #333;
  }

  .listProject_item__title {
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    font-weight: 800;
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}


/*
// ANCHOR: single Project
*/

.contentTabs_list {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
}

.contentTabs_item {
	background-color: #ccc;
	border-radius: 20px;
	padding: 30px 30px 60px;
	width: 400px;
	position: relative;

	&:not(:first-child) {
		margin-left: 2rem;
	}
}

.contentTabs_item__todo {
  min-height: 40px;
}

.contentTabs_item__todoItem {
	background-color: #eee;
	border-radius: 20px;
  padding: 15px;
  
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.contentTabs_item--clone {
  display: none;
}

.contentTabs_item__delete,
.contentTabs_item__add {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;

  span {
    font-size: 1.4rem;
    color: #c11c1c;
    display: none;
  }
  
  i {
    font-size: 2rem;
    display: inline-flex;
  }

  &.confirm {
    span {
      display: block;
    }

    i {
      display: none;      
    }
  }

}

.contentTabs_item__add {
	top: auto;
	bottom: 5px;
	color: darkgreen;

	&:hover {
		opacity: .5;
	}
}

#newTab_name {
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #eeeeee;
  color: #000;
  padding: 19px 48px 19px 15px;
}

.contentTabs_item--newTab {
  button {
    position: absolute;
    right: 3rem;
    padding: 15px;
    cursor: pointer;

    i {
      position: relative;
      top: 2px;
    }
  }
}

/*
// ANCHOR: Media list
*/

.media-list__item {
  display: flex;
  flex: wrap;
}

.media-list__cell {
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    width: 25%;
  }
}

.media-list__preview {

  text-align: left;

  @media (min-width: 768px) {
    width: 150px;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
}

.media-list__file-type {

  @media (min-width: 768px) {
      width: 200px;
  }

}

.media-list__actions {

  width: 120px;
  text-align: right;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
  }
  
  a {
    margin-left: 15px;
  }
}